# Ignore compiled Python bytecode files
*.pyc

# Ignore Python cache directories
__pycache__/

# Ignore editor-specific files
.vscode/
.idea/
*.sublime-*

# Ignore File's Storage directory
uploads/
/db-data
/kc_pg_data

# Ignore node modules at client dir
node_modules

# Ignore Python Virtual Environment (venv)
.venv